{{application-header current_user=this.current_user festival_id=this.model.festival.id}}

<div class="container-fluid" id="main">
  <div class="va-outer">
    <div class="va-inner">
      <h1>Sorry, something went wrong.</h1>
      <p>Please <a href="">reload the page</a>.  If the problem persists then <a href="mailto:info@1up.digital">let us know</a></p>
    </div>
  </div>
</div>